<p>The Mobile Presence Framework (MPF) is a tool that combines distinct, distributed mobile web services under a single umbrella. Web services are organized into packages - a package is essentially an app. A given service may be in multiple packages. The services themselves are implemented elsewhere.</p>

<p>help coming soon...</p>