<p>Welcome to the administrative section of the Mobile Presence Framework. From here you can manage services and packages, and you can grant other users access to this tool.</p>

<p>To get to the public version of the MPF, go to <a href="http://<%=@servername%>">http://<%=@servername%></a></p>
