<h1>New mobile_service</h1>

<%= form_for(@mobile_service,
             :html => { :multipart => true },
             :url => admin_mobile_services_path ) do |f| %>
<%= render 'form_contents', :f => f %>
<% end %>

<%= link_to 'Back', admin_mobile_services_path %>
