<%= form_for(@service_package) do |f| %>
  <% if @service_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_package.errors.count, "error") %> prohibited this service_package from being saved:</h2>

      <ul>
      <% @service_package.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
