h1 {clear: both;}

.admin_nav {
  height: 30px;
  margin: 0;
  padding: 0;
}

.admin_nav ul li {
  list-style-type: none;
  padding: 5px;
  margin: 2px;
  background: #ddd;
  float: left;
  width: 150px;
  text-align: center;
}

.left_col {
  width: 48%;
  float: left;
}

.right_col {
  width: 48%;
  float: right;
}

/*-----------------------------*/

li.live {}
li.not_live { background: #fdd; }
li.restricted { border: 2px dashed #22b; }
li.not_restricted {}

.add_button {
  color: #373;
  border: 2px solid #373;
  background: #9d9;
  float: left;
  margin-right: 2px;
}

.remove_button {
  color: #733;
  border: 2px solid #733;
  background: #d99;
  float: right;
  margin-left: 2px;
}

/*-----------------------------*/
/* package editing */

.mobile_service_chooser {
  border: 1px solid #000;
  padding: 2px;
}

.services_in_package {
  border: 1px solid #000;
  padding: 2px;
}

.available_services {
  border: 1px solid #000;
  padding: 2px;
}

.services_in_package ul,
.available_services ul {
  padding: 0;
}

.services_in_package li,
.available_services li {
  list-style: none;
  border: 1px solid #22b;
  margin: 2px;
  padding: 2px;
}

.add_service_button,
.remove_service_button {
  width: 28px;
  height: 19px;
  font-weight: bold;
  text-align: center;
  vertical-align: text-bottom;
}

/*-----------------------------*/
/* service editing */

.package_lister {
  border: 1px solid #000;
  padding: 2px;
}

.package_lister ul.package_list {
  padding: 0;
}

.package_lister ul.package_list li {
  list-style: none;
  border: 1px solid #22b;
  margin: 2px;
  padding: 2px;
}
