/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the end of the compiled file, but it's generally better to create a new file per style scope.
 *= require_directory . 
 *= require_self
*/

/* jquery-mobile override */
/*
.ui-li-thumb {
    margin-right: 20px !important;
    top: 6px !important; 
    padding-left: 32px !important;
}

.ui-li-has-icon a {
    padding-left: 82px !important;
}
*/

iframe {
    border: 0px;
}